  <p>
	<ul>
	 {{#each opinions}}
		<li><img src="{{ava}}" height="60" width="60">{{formatDate date day="numeric" month="long" year="numeric"}} <span>{{name}} ({{age}} y.o.)</span></li>
	{{/each}}
	</ul>
  </p>